mixin button-contact
  .button-wrapper
    a.btn.btn-primary(href="contacts.html") Kontakti

//- mixin button-contact
//-   .button-wrapper
//-     .row
//-       .col-12.col-sm-4.col-lg-3.no-gutters
//-         button.btn.btn-primary(type='button') Kontakti

//- +button-contact


mixin second-carousel-2
  .second-carousel.col-12.col-sm-6
    .slider
      .slide
        img(src="img/slides/" + img, alt="")


//- mixin second-carousel-2
//-   .second-carousel.col-12.col-sm-6
//-     .slider
//-       .slide
//-         img(src="../../img/slides/IMG_0957.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0960.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0961.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0963.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0980.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0982.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0989.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0963.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0980.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0982.JPG", alt="")
//-       .slide
//-         img(src="../../img/slides/IMG_0989.JPG", alt="")


//- mixin second-carousel
//-   .second-carousel.col-12.col-md-6.order-md-2

mixin main-carousel
  .main-carousel.col
    .slider
      .slide
        img(src="img/slides/IMG_0957.JPG", alt="")
      .slide
        img(src="img/slides/IMG_0960.JPG", alt="")
      .slide
        img(src="img/slides/IMG_0961.JPG", alt="")
      .slide
        img(src="img/slides/IMG_0963.JPG", alt="")
      .slide
        img(src="img/slides/IMG_0980.JPG", alt="")
      .slide
        img(src="img/slides/IMG_0982.JPG", alt="")
      .slide
        img(src="img/slides/IMG_0989.JPG", alt="")
//- mixin main-carousel
//-   .main-carousel
//-     img(src="../../img/technology-img.jpg", alt="")
//- mixin main-carousel
//-   .col-12.col-lg-8.main-carousel
//-     img(src="../../img/technology-img.jpg", alt="")