// Footer
.download {
  padding-bottom: 120px;
  @include wrapper;
  @extend %center;

  @include media-breakpoint-up(md) {
    display: flex;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 205px;
  }
}

.stores {
  @extend %wrapper;
  margin-top: -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  @media (max-width: 505px) {
    justify-content: center;
    align-items: center;
  }
  @include media-breakpoint-up(md) {
    align-items: inherit;
    padding-top: 9px;
    flex-wrap: nowrap;
    padding-right: 0;
    padding-left: 8px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 44px;
  }
  @include media-breakpoint-up(xl) {
    position: relative;
    bottom: -122px;
  }

  a + a {
     margin-top: 40px;

    @media (max-width: 639px) {
      margin-left: 0;
      margin-top: 0;
    }
    @media (max-width: 506px) {
      margin-left: 10px;
      margin-top: 40px;

    }
  }

  @include media-breakpoint-up(sm) {
    justify-content: center;
    // align-items: center;

    a + a {
      margin-left: 40px;
      margin-top: 0;
    }
  }
}

.download__content {
  @extend %wrapper;

  @include media-breakpoint-up(md) {
    padding-left: 55px;
    padding-right: 0;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 59px;
    margin-top: -2px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 128px;
    margin-top: 4px;
  }
  h2 {
    margin-bottom: 41px;
    @include media-breakpoint-up(xl) {
      margin-bottom: 71px;
    }
  }
  p {
    font-weight: 600;
  }
}
