.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-right: 20px;
  padding-left: 20px;

  @extend %center;
  @include wrapper;
  @include media-breakpoint-up(sm) {
    padding-top: 70px;
    padding-left: 0;
    padding-right: 0;
  }
  @include media-breakpoint-up(md) {
    padding-top: 52px;
  }
}

.logo {
  position: relative;
  margin-left: 0;
  margin-top: -26;

  @include media-breakpoint-up(sm) {
    // margin-left: 73px;
    margin-top: -51px;
  }
  @include media-breakpoint-up(md) {
    margin-left: 0;
    left: -71px;
    margin-top: 0;
  }
  @include media-breakpoint-up(xl) {
    left: -35px;
  }
  &__img {
    width: 133px;
    @include media-breakpoint-up(sm) {
      width: 192px;
    }
    @include media-breakpoint-up(md) {
      width: 147px;
    }
  }
}

button.menu-open {
  width: 57px;
  height: 45px;
  cursor: pointer;
  @include media-breakpoint-up(md) {
    margin-top: -17px;
    margin-right: -85px;
  }
  @include media-breakpoint-up(lg) {
    margin-right: 0;
  }
  @include media-breakpoint-up(xl) {
    margin-top: -14px;
    margin-right: 36px;
  }
}

.burger-icon::before, .burger-icon::after {
  content: "";
  display: block;
  height: 3px;
  background-color: $color-second;
}

.burger-icon::before {
  width: 57px;
  margin-bottom: 19px;
}

.burger-icon::after {
  width: 34px;

  @extend %trans;
}

button.menu-open:hover .burger-icon::after {
  width: 57px;
  @extend %trans;
}
