.main {
  padding-top: 17px;

  @extend %center;

  @include media-breakpoint-up(md) {
    padding-top: 57px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 58px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 10px;
  }
}

// ============= //
.content {
  @extend %wrapper;
  @include wrapper;
  @extend %center;

  position: relative;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 212px;
  }
}

.capsule {
  position: relative;
  width: 544px;
  height: 528px;
  left: 50%;
  transform: translate(-50%);

  @include media-breakpoint-up(md) {
    left: -15px;
    transform: none;
    width: 570px;
  }
  @include media-breakpoint-up(lg) {
    height: 825px;
    margin-left: -3px;
  }
  @include media-breakpoint-up(xl) {
    height: 740px;
    margin-left: -8px;
  }
  .img-template {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.5;

    @include media-breakpoint-up(md) {
      position: static;
      width: auto;
    }
  }
}
.capsule {
  .capsule-block{position: absolute;}
  .capsule-container {
    position: relative;
  }

  // Picture Capsule
  .rect-1 {
    position: absolute;
    top: 257px;
    left: 58px;
    width: 45px;
    @include media-breakpoint-up(sm) {
      top: 330px;
      left: 0;
    }
    @include media-breakpoint-up(lg) {
      left: -4px;
    }
  }
  .rect-2 {
    position: absolute;
    top: 258px;
    left: 376px;
    transform: scaleY(-1);
    width: 140px;
    @include media-breakpoint-up(sm) {
      top: 302px;
      left: 414px;
    }
    @include media-breakpoint-up(md) {
      left: 394px;
    }
    @include media-breakpoint-up(xl) {
      left: 397px;
      top: 299px;
    }
  }
  .rect-3 {
    position: absolute;
    top: 411px;
    left: 94px;
    width: 140px;
    @include media-breakpoint-up(sm) {
      top: 548px;
      left: 8px;
    }
    @include media-breakpoint-up(xl) {
      left: 12px;
      top: 544px;
    }
  }
  .caps {
    width: 348px;
    @include media-breakpoint-up(sm) {
      width: 460px;
    }
  }
  .caps-container {
    position: absolute;
    left: 98px;
    @include media-breakpoint-up(md) {
      left: 20px;
    }
  }
}
.countdown-clock-container {
  position: absolute;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  @include media-breakpoint-up(sm) {
    top: 347px;
  }
  @include media-breakpoint-up(xl) {
    top: 345px;
  }
}
// Capsule animation
.capsule {
  @keyframes rect-1 {
    to{
      transform: translateY(50px);
    }
  }
  @keyframes rect-2 {
    0%{
      transform: translateY(-40px) scaleY(-1);
    }
     100% {
      transform: translateY(30px) scaleY(-1);
    }
  }
  @keyframes rect-3 {
    0%{
      transform: translateY(-20px);
    }
     100% {
      transform: translateY(40px);
    }
  }
}
// Capsule animation initial
.capsule {
  .rect-1 {
    animation-name: rect-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }
  .rect-2 {
    animation: rect-2 6s ease-in-out infinite alternate;
  }
  .rect-3 {
    animation: rect-3 4s ease-in-out infinite alternate;
  }
}

//=========== //
.concept {
  position: relative;
  margin-top: -120px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  margin-bottom: 98px;
  @include media-breakpoint-up(md) {
    margin-top: -25px;
    width: calc(526/1110*100%);
    margin-bottom: 96px;
  }
  @include media-breakpoint-up(lg) {
    width: calc(520/1116*100%);
  }
  @include media-breakpoint-up(xl) {
    width: 843px;
    margin-top: 24px;
  }

  &__header {
    margin-bottom: 66px;

    @include media-breakpoint-up(md) {
      width: 475px;
      margin-bottom: 71px;
      padding-top: 44px;
    }
    @include media-breakpoint-up(xl) {
      width: 100%;
      margin-bottom: 72px;
    }

    h2 {
      margin-bottom: 72px;

      @include media-breakpoint-up(md) {
        margin-bottom: 60px;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 66px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 78px;
      }
    }

    p {
      font-weight: 600;

      @include media-breakpoint-up(md) {
        font-size: 17px;
        line-height: 33px;
        letter-spacing: -30 / 100 * 1px;
      }
    }
  }

  &__text + .concept__text {
    margin-top: 74px;

    @include media-breakpoint-up(md) {
      margin-top: 47px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 0;
      margin-left: 40px;
    }
  }

  &__text {
    h4 {
      font-size: 18px;
      letter-spacing: 220 / 100 * 1px;
      color: #784fcb;
      font-weight: 800;
      line-height: 33px;
      margin-bottom: 8px;

      @include media-breakpoint-up(md) {
        margin-bottom: 11px;
        font-size: 13px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 12px;
      }
    }
    @include media-breakpoint-up(xl) {
      width: 382px;
    }
  }
}

.concept__text-containet {
  @include media-breakpoint-up(xl) {
    display: flex;
  }
}

// ===================== //
.fun {
  position: relative;
  @extend %center;
  @include wrapper;
  margin-bottom: 113px;
  @include media-breakpoint-up(md) {
    display: flex;
    margin-bottom: 110px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 206px;
    margin-top: 128px;
    margin-bottom: 170px;
  }
}

.fun__text {
  @include wrapper;
  @extend %center;
  margin-bottom: 98px;
  background: linear-gradient(90deg, rgba(45, 25, 165, 1) 0%, rgba(93, 73, 212, 1) 55%, rgba(120, 79, 203, 1) 100%);

  @include media-breakpoint-up(md) {
    flex-basis: 550px;
    margin-bottom: 0;
    margin-left: 8px;
  }
  @include media-breakpoint-up(lg) {
    margin-left: 42px;
    flex-basis: 553px;
  }
  @include media-breakpoint-up(xl) {
    flex-basis: 900px;
  }

  p {
    color: $color-second;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: -120 / 100 * 1px;
    line-height: 40px;
    mix-blend-mode: darken;
    background-color: #191726;
    @extend %wrapper;

    @include media-breakpoint-up(md) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.slider1-container {
  @extend %center;
  overflow: hidden;
  position: relative;

  @include media-breakpoint-up(md) {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
  }
  @include media-breakpoint-up(lg) {
    left: 606px;
  }
  @include media-breakpoint-up(xl) {
    left: 69%;
  }

  width: 100vw;
  @include media-breakpoint-up(sm) {
    width: 578px;
  }
  @include media-breakpoint-up(sm) {
    width: 680px;
  }
}

.slider1 {
  display: flex;

  @include media-breakpoint-up(md) {
    margin-left: 78px;
    align-items: center;
    padding-top: 19px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 73px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 0;
    margin-bottom: 10px;
    margin-left: 78px;
  }
}

.slide1 {
  img {
    width: 114px;
    height: 114px;

    @include media-breakpoint-up(md) {
      // width: 114px;
      // height: 114px;
    }
  }
}

.slide1 + .slide1 {
  @include media-breakpoint-up(md) {
    // margin-left: 40px;
  }
}

// =============== //
.howto {
  @include wrapper;
  @extend %center;
  padding-bottom: 120px;

  @include media-breakpoint-up(md) {
    padding-bottom: 170px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 146px;
    padding-bottom: 144px;
  }

  h2 {
    margin-bottom: 58px;

    @extend %wrapper;

    @include media-breakpoint-up(md) {
      margin-bottom: 112px;
      padding-left: 8px;
      padding-right: 0;
    }
    @include media-breakpoint-up(lg) {
      width: 888px;
      padding-left: 39px;
    }
    @include media-breakpoint-up(xl) {
      width: 100%;
      margin-bottom: 123px;
      padding-left: 98px;
    }
  }
}

//  -------------  //
.slider2-container {
  position: relative;
  @include media-breakpoint-up(xl) {
    left: 22px;
  }
}

.slider2-fon, .slider2-placeholder {
  position: absolute;
  max-width: 573px;
  max-height: 573px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  @include media-breakpoint-up(md) {
    left: 81px;
    transform: initial;
  }
  @include media-breakpoint-up(lg) {
    left: 123px;
  }
}
.slider2-placeholder {
  position: absolute;
  max-width: 573px;
  max-height: 573px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 85px;

  @include media-breakpoint-up(md) {
    left: 140px;
    transform: initial;
  }
  @include media-breakpoint-up(lg) {
    left: 184px;
  }
  @include media-breakpoint-up(xl) {
    left: 182px;
  }
}

.slider2 {
  position: relative;
  @include media-breakpoint-up(lg) {
    left: 5%;
  }
  @include media-breakpoint-up(xl) {
    left: 27px;
  }

}

.slide2 {
  padding-top: 85px;

  @include media-breakpoint-up(md) {
    display: flex;
    padding-left: 141px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 127px;
  }
  @include media-breakpoint-up(xl) {
    padding-left: 10%;
  }

  &__bg {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    @extend %wrapper;

    margin-top: 153px;

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;
      flex-basis: 420px;
      margin-left: -78px;
      margin-top: 108px;
    }

    h5 {
      font-size: 20px;
      letter-spacing: 420 / 100 * 1px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 33px;
      text-align: center;
      margin-bottom: 49px;

      @include media-breakpoint-up(md) {
        margin-bottom: 24px;
        text-align: left;
      }
    }
    p{
      @include media-breakpoint-up(md) {
        line-height: 26px;
      }
    }
  }
}

// Slider 1 & Slider 2
.slider1, .slider2 {
  .owl-stage {
    display: flex;

  }

  .owl-stage-outer {
    overflow: hidden;
  }

}

//  ========== //
// Slider 2

// Slider 2 dots
.slider2 {
  .owl-dots {
    text-align: center;
    position: absolute;
    top: 608px;
    left: 50%;
    transform: translateX(-50%);
    @include media-breakpoint-up(md) {
      top: 191px;
      right: 98px;
      left:initial;
    }
    @include media-breakpoint-up(lg) {
      right: 200px;
    }
    @include media-breakpoint-up(xl) {
      right: 635px;
    }
    button {
      cursor: pointer;
    }
  }

  .owl-dot span {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #fff;
  }

  .owl-dot + .owl-dot {
    margin-left: 20px;
  }

  .owl-dot:hover span {
    background-color: #784fcb;
    @extend %trans;
  }
  .owl-dot.active span  {
    background-color: #784fcb;
    @extend %trans;
  }
}

// Slider 2 arrow
.slider2 {
  .owl-prev, .owl-next {
    height: 104px;
    width: 104px;
    position: relative;
    @extend %trans;
    top: 230px;
  }

  // .owl-prev
  .owl-next {
    right: -25px;

    @include media-breakpoint-up(md) {
      right: -58px;
    }
    @include media-breakpoint-up(lg) {
      right: 44px;
    }
    @include media-breakpoint-up(xl) {
      right: 482px;
    }
  }
  // .owl-next
  .owl-prev {
    left: -25px;

    @include media-breakpoint-up(md) {
      left: -45px;
    }
    @include media-breakpoint-up(lg) {
      left: -54px;
    }
    @include media-breakpoint-up(xl) {
      left: -45px;
    }
  }
  .owl-nav button {
    cursor: pointer;
  }
  .owl-nav .owl-prev, .owl-nav .owl-next {
    cursor: pointer;
    @extend %trans;
    position: absolute;
  }
  // .owl-prev
  .owl-nav .owl-next {
    @include media-breakpoint-up(sm) {
      right: -28px;
    }
    @include media-breakpoint-up(md) {
      right: 0;
    }
    @include media-breakpoint-up(xl) {
      right: 475px;
    }
  }

  .owl-nav .owl-prev::before, .owl-nav .owl-next::before {
    display: block;
    width: 13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 38%;
    @include media-breakpoint-up(xl) {

    }
  }

  .owl-nav .owl-next::before {
    content: url("../img/arrow-prev.svg");
  }

  .owl-nav .owl-prev::before {
    content: url("../img/arrow-next.svg");
    left: 45px;
    @include media-breakpoint-up(md) {
      left:50px;
    }
  }

  .owl-nav .owl-prev::after,
  .owl-nav .owl-next::after {
    content: url("../img/frame2.svg");
    display: none;
    width: 104px;
    position: absolute;
    // top: 50%;
    // right: 50%;
    transform: translateY(-50%) translateX(50%);
    @extend %trans;
    @include media-breakpoint-up(md) {
      transform: translateY(0);
      top: -15px;
    }
  }
  .owl-nav .owl-next::after {
    transform: translateY(0) translateX(0);
    right: 0;
    top: -13px;
    @include media-breakpoint-up(md) {
      top: 0;
    }
    @include media-breakpoint-up(lg) {
      top: -14px;
    }
  }
  .owl-nav .owl-prev::after {
    transform: translateY(0) translateX(0);
    right:1px;
    top:-14px;
    @include media-breakpoint-up(md) {
      top: 0;
    }
    @include media-breakpoint-up(lg) {
      top: -14px;
    }
  }

  .owl-nav .owl-prev:hover::after,
  .owl-nav .owl-next:hover::after {
    display: block;
    @extend %trans;
  }
}