.menu {
  display: none;
  padding-top: 40px;
  background-color: #191726;
  width: 338px;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 14px;
  margin-right: 5px;
  @extend %trans;
  @include media-breakpoint-up(sm) {
    margin-right: -14px;
    top: 38px;
  }
  @include media-breakpoint-up(md) {
    margin-right: -101px;
    top: 20px;
  }
  @include media-breakpoint-up(lg) {
    margin-right: -16px;
  }
  @include media-breakpoint-up(xl) {
    margin-right: 22px;
    top: 22px;
  }
}
.menu__close {
  width: 110px;
  height: 76px;
  margin-left: auto;
  cursor: pointer;

}
.menu__close svg {
  stroke: #fff;
  width: 33px;
  height: 33px;
  @extend %trans;
}
.menu__close:hover svg {
  stroke: $color-second;
  @extend %trans;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav-link {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  width: 100%;
  padding-right: 30px;
}
.nav-link a {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -20 / 100 * 1px;
  line-height: 50px;
  color:#fff;
  text-decoration: none;
  text-align: right;
  vertical-align: middle;
}
.nav-link:hover, .nav-link:active {
  background-color: #121021;
}
.nav-link.ios, .nav-link.andr {
  height: 60px;

}
.nav-link.ios a, .nav-link.andr a {
  line-height: 60px;
}
.nav-link.ios {
  position: relative;
  margin-top: 30px;
  background-color: #784fcb;
}
.nav-link.andr {
  position: relative;
  background-color: #6a45b6;
}
.ios::before, .andr::before {
  position: absolute;
  content: "";
  display: block;
  top: 13px;
  background-repeat: no-repeat;
}
.ios::before {
  background-image: url('../img/apple-icon.png');
  width: 26px;
  height: 29px;
  left: 23px;
  @extend %trans;
}
.andr::before {
  background-image: url('../img/android_icon.png');
  width: 27px;
  height: 32px;
  left: 23px;
  @extend %trans;
}
.ios:hover::before {
  background-image: url('../img/apple-icon-white.png');
  @extend %trans;
}
.andr:hover::before {
  background-image: url('../img/android_icon-white.png');
  @extend %trans;
}

// Open - close menu
.open {
  opacity: 1;
  display: flex;
  @extend %trans;
}