// @import "media";
@import "vars";

@mixin font($font-size: $fz, $line-height: $lh, $font-weight: $fw, $letter-spacing: $ls) {
  font-size: $fz * 1px;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;

  @content;
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);

  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  }
  @else {
    @content;
  }
}

%trans {
  transition: all 0.6s ease-in-out;
}

%wrapper {
  padding-right: 20px;
  padding-left: 20px;

  @include media-breakpoint-up(sm) {
    padding-right: 0;
    padding-left: 0;
  }
}

%center {
  margin-right: auto;
  margin-left: auto;
}

@mixin padd-right {
  padding-right: 136px;
}

@mixin wrapper {

  @include media-breakpoint-up(sm) {
    width: 508px;
  }
  // ≤1280px
  @include media-breakpoint-up(md) {
    width: 1030px;
  }
  // ≤1366px
  @include media-breakpoint-up(lg) {
    width: 1116px;
  }
  @include media-breakpoint-up(xl) {
    width: 1726px;
  }
}
