$default-font: "Open Sans", sans-serif;

$vivid-purple: #9263e3;
$blue-magenta: #191726;

$text-color: #fff;
$color-second: $vivid-purple;
$bg: $blue-magenta;

$font-size: 22;

// padding left global
$globLeft: 124px;
$globLeft1920: 186px;

$grid-breakpoints: (xs: 0, sm: 640px, md: 1280px, lg: 1366px, xl: 1920px);
