@import "vars";
@import "mixins";

html, body {
  height: 100%;
  color: $text-color;
  font-size: $font-size * 1px;
  font-family: $default-font;
  background-color: $bg;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 40px;
  font-weight: 300;
  letter-spacing: -30 / 100 * 1px;
  @include media-breakpoint-up(md) {
    font-size: 17px;
    line-height: 33px;
  }
}

h2 {
  font-size: 50px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -300 / 100 * 1px;
}

.content-container {
  position: relative;
  overflow: hidden;
}

.vert-line-container {
  position: relative;
  @extend %center;
  @media (min-width: 1280px) {
    width: 1020px;
  }
  @media (min-width: 1366px) {
    width: 1116px;
  }
  @media (min-width: 1920px) {
    width: 1655px;
  }
}

.vert-line {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    position: fixed;
    height: 100%;
    opacity: 0.22;
    border-right: solid 1px #fff;
  }
}

@import "header";
@import "main";
@import "footer";
@import "media";
@import "menu";
