//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
//- script(window.jQuery || document.write('<script src="js/jquery-3.4.1.min.js"><\/script>'))
//- <script>window.jQuery || document.write('<script src="js/jquery-3.4.1.slim.min.js"><\/script>')</script>
script(src="js/jquery-3.4.1.slim.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/moment.min.js")
script(src="js/countdown-clock.js")
script(src="js/jquery.smoothscroll.min.js")

script(src="js/scripts.js")