
block vars
  -
    page = {
      language: 'en',
      name: 'timecaps',
      title: 'timecaps',
      appTitle: 'timecaps',
      description: '',
      keywords: 'tipografija',
      copyright: 'timecaps'
    }

doctype html

html(lang=page.language)
  block link
    -var selected = '' //default
    -var selectLang ='en' //default
  head
    include ./_head

    //- изменение заголовка страниц
    //- block title

    //- ссылка на файл стилей
    block style-link


  //- вставляем body
  body(class="page-" + page.name)
    .content-container
      .vert-line-container
        .vert-line
      //- block menu
      block top
      block header
      block main
      block footer
        //- include
      //- include _scripts
    block script
      include ./_script


