footer.download(role="download")
  .stores
    ='\n'
    a(href="https://play.google.com/store")
      ='\n'
      img(src="img/download-google-play-store-logo.png", alt="Google Play")
    ='\n'
    a(href="https://www.apple.com/ios/app-store/")
      ='\n'
      img(src="img/download_on_the_app_store_badge.png", alt="App Store")
  .download__content
    h2 Download the app today!
    p IOS users can download the TimeCaps app free of charge from the App Store. It can be downloaded in English in all countries with access to the App Store.
