main.main

  article.content
    section.capsule
      .capsule-block
        .capsule-container
          img.rect-1(src="img/capsule/rounded-rectangle.svg", alt="")
          img.rect-2(src="img/capsule/rounded-rectangle.svg", alt="")
          img.rect-3(src="img/capsule/rounded-rectangle.svg", alt="")
          .caps-container
            img.caps(src="img/capsule/Capsule.png", alt="")
            .countdown-clock-container
              #countdown-clock
                  .countdown-clock
                    ='\n'
                    <span class="years"></span> Y
                    <span class="months"></span> M
                    <span class="days"></span> D
                    <span class="hours"></span> H
                    <span class="minutes"></span> M
                    <span class="s"></span>

      //- img.img-template(src="img/capsule.png", alt="")
    section.concept(role="note")
      header.concept__header
        h2 The concept of Timecaps is simple and elegant
        p TimeCaps is a free video app that allows you to create a time capsule, a video message that you send to any of your phone contacts to be unlocked on a date decided by you.
      .concept__text-containet
        .concept__text.concept__text-1
          h4 01
          p TimeCaps is a new type of social media app. It builds excitement and anticipation around the unlocking of a future moment, rather than giving users instant gratification. You can send messages to one person, a group or to yourself.
        .concept__text.concept__text-2
          h4 02
          p When you send a video time capsule, the recipient sees a notification with a single image from the video. He or she will wonder what you have said in your message but will have to wait – from five minutes to 50 years!

  section.fun
    .fun__text
      p The possibilities of the content you send are endless – from heartfelt messages to predictions and motivational messages. It’s fun. It’s meaningful. It’s uplifting.

    .slider1-container
      .slider1
        .slide1
          ='\n'
          img(src="img/StockSnap_0SHBIHYBNJ.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_MIBKRELQIO.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_UVRABD81NU.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_NTDGYW24VE.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_NTDGYW24VE.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_0SHBIHYBNJ.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_MIBKRELQIO.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_UVRABD81NU.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_NTDGYW24VE.png", alt="")
        .slide1
          ='\n'
          img(src="img/StockSnap_NTDGYW24VE.png", alt="")

  section.howto
    h2 How to create a time capsule with your TimeCaps Mobile App:
    .slider2-container
      .slider2-placeholder
        img(src="img/placeholder.png", alt="")
      .slider2-fon
        <svg width="573" height="573" viewBox="0 0 573 573" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="286.5" cy="286.5" r="286.5" fill="#784FCB"/></svg>
      .slider2
        .slide2
          .slide2__bg
            ='\n'
            img(src="img/YourScreenHere1.png", alt="")
          .slide2__text
            h5 step 1
            p Tap on the TimeCaps app icon to open it. Tap the record button to start creating your video time capsule.  Tap the button again to stop the recording.
        .slide2
          .slide2__bg
            ='\n'
            img(src="img/YourScreenHere2.png", alt="")
          .slide2__text
            h5 step 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .slide2
          .slide2__bg
            ='\n'
            img(src="img/YourScreenHere3.png", alt="")
          .slide2__text
            h5 step 2
            p Ipsum voluptate non in aliquip. Officia elit labore amet consectetur ut cillum enim sint tempor excepteur ad dolore minim nostrud.
        .slide2
          .slide2__bg
            ='\n'
            img(src="img/YourScreenHere4.png", alt="")
          .slide2__text
            h5 step 4
            p Ad anim enim duis deserunt velit fugiat. Elit non amet exercitation laborum consectetur Lorem eu aute consectetur veniam ex.