.menu
  button.menu__close.menu-toggle
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.23 15.23"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:1.5px;}</style></defs><title>close-icon</title><path class="cls" d="M14.7.53l-14.17 14.17M.53.53l14.17 14.17"/></svg>
  nav.nav(role="navigation")
    .nav-link
      ='\n'
      a(href="#") Help & Support
    .nav-link
      ='\n'
      a(href="#") Coockie Policy
    .nav-link
      ='\n'
      a(href="#") Privacy Police
    .nav-link.ios
      ='\n'
      a(href="#") Download iOs
    .nav-link.andr
      ='\n'
      a(href="#") Download Android

