extends ./template/_template

block vars
	-
		page = {
			language: 'en',
			name: 'timecaps',
			title: 'timecaps',
			appTitle: 'timecaps',
			description: '',
			keywords: '',
			copyright: 'timecaps'
		}
//- block style-link

//- block menu
	//- include ./partials/_menu
block header
	include ./partials/_header
	//- slider1

block main
	include ./partials/_main.pug


block footer
	include ./partials/_footer